<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-main/layout-main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <meta name="_csrf" content="${_csrf.token}"/>-->
<!--    &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
<!--    <meta name="_csrf_header" content="${_csrf.headerName}"/>-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div layout:fragment="content">
    <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
            <h1 class="app-page-title mb-0 text-color-main">ĐỔI MẬT KHẨU</h1>
        </div>
        <div class="col-auto">
            <div class="page-utilities">
                <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                    <div class="col-auto">
                        <button type="submit" id="sendButton" form="form-change-password" data-toggle="tooltip" title="Lưu" class="btn app-btn-secondary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${successMessage != null}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
        <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <div class="tab-content">
        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="app-card app-card-orders-table shadow-sm mb-5">
                <form action="#" th:action="@{/admin/user/change-password}" method="post" id="form-change-password" onsubmit="return validateChangePassword()">
                    <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="app-card-body" style="padding: 15px;">
                        <div class="row custom-label-input-form">
                            <label for="passwordOld" class="col-sm-2 col-form-label col-form-label-sm text-sm-end"><span class="required-star">*</span> Mật khẩu cũ</label>
                            <div class="col-sm custom-input-password-eye">
                                <input type="password" name="password_old" class="form-control form-control-sm custom-input-form" id="passwordOld" required>
                                <i class="fa fa-eye" onclick="eyeOldTransformation('password-eye-old')" id="password-eye-old"></i>
                                <div class="error-message" id="passwordOldError" style="display: none">
                                    <span id="passwordOldTextError" class="error-text"></span>
                                    <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row custom-label-input-form">
                            <label for="passwordNew" class="col-sm-2 col-form-label col-form-label-sm text-sm-end"><span class="required-star">*</span> Mật khẩu mới</label>
                            <div class="col-sm custom-input-password-eye">
                                <input type="password" name="password_new" class="form-control form-control-sm custom-input-form" id="passwordNew" required>
                                <i class="fa fa-eye" onclick="eyeNewTransformation('password-eye-new')" id="password-eye-new"></i>
                                <div class="error-message" id="passwordNewError" style="display: none">
                                    <span id="passwordNewTextError" class="error-text"></span>
                                    <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row custom-label-input-form">
                            <label for="comfirmPasswordNew" class="col-sm-2 col-form-label col-form-label-sm text-sm-end"><span class="required-star">*</span> Nhập lại mật khẩu</label>
                            <div class="col-sm custom-input-password-eye">
                                <input type="password" name="comfirm_password_new" class="form-control form-control-sm custom-input-form" id="comfirmPasswordNew" required>
                                <i class="fa fa-eye" onclick="eyeNewComfirmTransformation('comfirm-password-eye-new')" id="comfirm-password-eye-new"></i>
                                <div class="error-message" id="comfirmPasswordNewError" style="display: none">
                                    <span id="comfirmPasswordNewTextError" class="error-text"></span>
                                    <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>