<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout-main/layout-main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-black" href="#">Trang chủ</a>
                        <span class="breadcrumb-item active">Liên hệ</span>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3 color-main">LIÊN HỆ VỚI CHÚNG TUI</span></h2>
            <div class="row px-xl-5">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form bg-light p-30">
                        <div th:if="${successMessage != null}" class="alert alert-success" role="alert">
                            <span th:text="${successMessage}"></span>
                            <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                            <span th:text="${errorMessage}"></span>
                            <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="#" th:action="@{/cosmetic/contact/save-contact}" method="post">
                            <div class="col-md-12 form-group p-0">
                                <label>Tiêu đề <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="title" name="title_contact" required>
                                <div id="titleError" class="titleError" style="display: none">
                                    <span id="titleTextError" class="small text-danger titleTextError"></span>
                                </div>
                            </div>
                            <div class="col-md-12 form-group p-0">
                                <label>Chi tiết <span class="text-danger">*</span></label>
                                <textarea class="form-control" type="text" id="detail" name="detail_contact" required></textarea>
                                <div id="detailError" class="detailError" style="display: none">
                                    <span id="detailTextError" class="small text-danger detailTextError"></span>
                                </div>
                            </div>
                            <div class="col-md-12 form-group p-0">
                                <label>Họ và Tên<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="name" name="fullName" required>
                                <div id="nameError" class="nameError" style="display: none">
                                    <span id="nameTextError" class="small text-danger nameTextError"></span>
                                </div>
                            </div>
                            <div class="col-md-12 form-group p-0">
                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="phone" name="phone" required>
                                <div id="phoneError" class="phoneError" style="display: none">
                                    <span id="phoneTextError" class="small text-danger phoneTextError"></span>
                                </div>
                            </div>
                            <div class="col-md-12 form-group p-0">
                                <label>Email <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="email" name="email" required>
                                <div id="emailError" class="emailError" style="display: none">
                                    <span id="emailTextError" class="small text-danger emailTextError"></span>
                                </div>
                            </div>
                            <div>
<!--                                id="sendMessageButton"-->
                                <button class="btn btn-primary py-2 px-4" type="submit">Gửi yêu cầu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-5" th:each="about : ${abouts}">
                    <div class="bg-light p-30 mb-30">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.866646001187!2d105.77152071176131!3d21.038021180532787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455f90fe8ad65%3A0xec38b94cb36de0ab!2zVmnhu4duIEPDtG5nIG5naOG7hyB0aMO0bmcgdGluIFQzSA!5e0!3m2!1svi!2s!4v1715002126260!5m2!1svi!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="bg-light p-30 mb-3">
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i><span th:text="${about.getAddress()}"></span></p>
                        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i><span th:text="${about.getEmail()}"></span></p>
                        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i><span th:text="${about.getPhone()}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>