<div id="myModalChangePassword" class="modal-change-password">
    <div class="modal-content">
        <div class="modal-header pt-3 pb-3">
            <h2 class="color-main">ĐỔI MẬT KHẨU</h2>
            <span class="close-address">&times;</span>
        </div>
        <div class="modal-body">
            <form id="form-change-password" onsubmit="return validateChangePassword()">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Mật khẩu cũ</label>
                        <input class="form-control" type="password" id="changePwdOld" name="changePwdOld" required>
                        <div id="changePwdOldError" class="changePwdOldError" style="display: none">
                            <span id="changePwdOldTextError" class="small text-danger changePwdOldTextError"></span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mật khẩu mới</label>
                        <input class="form-control" type="password" id="changePwdNew" name="changePwdNew" required>
                        <div id="changePwdNewError" class="changePwdNewError" style="display: none">
                            <span id="changePwdNewTextError" class="small text-danger changePwdNewTextError"></span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Xác nhận mật khẩu</label>
                        <input class="form-control" type="password" id="changePwdNewConfirm" name="changePwdNewConfirm"
                               required>
                        <div id="changePwdNewConfirmError" class="changePwdNewConfirmError" style="display: none">
                            <span id="changePwdNewConfirmTextError"
                                  class="small text-danger changePwdNewConfirmTextError"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-0">
                    <button type="button" class="btn btn-save-info" onclick="returnToTheOrdersPageChangePassword()">Quay lại</button>
                    <button type="button" class="btn btn-save-info" onclick="checkChangePasswordOldAndNew()">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>