<div id="myModalReasonForCancellation" class="modal-reason-for-cancellation">
    <div class="modal-content">
        <div class="modal-header pt-3 pb-3">
            <h2 class="color-main">Lý do hủy đơn hàng</h2>
            <span class="close-address">&times;</span>
        </div>
        <div class="modal-body modal-body-reason">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn" onclick="returnToTheOrdersPage()">Quay lại</button>
            <button type="button" class="btn" onclick="checkReasonForCancellation()">Xác nhận</button>
        </div>
    </div>
</div>
