<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-main/layout-main}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<div layout:fragment="content">
  <div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
      <h1 class="app-page-title mb-0 text-color-main">THÊM SẢN PHẨM</h1>
    </div>
    <div class="col-auto">
      <div class="page-utilities">
        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
          <div class="col-auto">
            <button type="submit" form="form-product" data-toggle="tooltip" title="Lưu"  class="btn app-btn-secondary">Lưu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="#" th:action="@{/admin/product/add-product}" th:object="${product}" method="post" id="form-product" enctype="multipart/form-data" onsubmit="return validateProduct()">
    <nav>
      <div class="nav nav-tabs nav-tabs-form" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" data-bs-target="#nav-one" type="button" role="tab" aria-controls="nav-one" aria-selected="true">Thông Tin Sản Phẩm</button>
        <button class="nav-link" id="nav-true-tab" data-bs-toggle="tab" data-bs-target="#nav-true" type="button" role="tab" aria-controls="nav-true" aria-selected="false">Liên Kết</button>
        <button class="nav-link" id="nav-three-tab" data-bs-toggle="tab" data-bs-target="#nav-three" type="button" role="tab" aria-controls="nav-three" aria-selected="false">Ảnh Gallery</button>
        <button class="nav-link" id="nav-for-tab" data-bs-toggle="tab" data-bs-target="#nav-for" type="button" role="tab" aria-controls="nav-three" aria-selected="false">Loại sản phẩm</button>
      </div>
    </nav>
    <div class="tab-content p-3 border bg-light nav-tab-content" id="nav-tabContent">
      <div class="tab-pane fade active show" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
        <div class="app-card-body" style="padding: 15px;">
          <div class="row custom-label-input-form">
            <label for="test-image" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Ảnh sản phẩm</label>
            <div class="col-sm">
              <a href="" id="test-image" data-toggle="image" class="test-img-thumbnail"><img class="img-thumbnail" id="avt-image" th:src="@{/images/noImage/img.png}" alt="" title=""/></a>
              <input type="hidden" name="image" value="/images/noImage/img.png" id="input-avt-image" />
              <div class="buttons hide-show-filemanager-button" style="display: none;">
                <a class="btn btn-sm btn-primary btn-filemanager" onclick="handleAddButtonClick()" data-bs-toggle="modal" data-bs-target="#myModal">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill text-white" viewBox="0 0 16 16">
                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                  </span>
                </a>
                <a class="btn btn-sm btn-danger btn-delete btn-filemanager" onclick="deleteImagePresentButtonClick()">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-white" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="row custom-label-input-form">
            <label for="name" class="col-sm-2 col-form-label col-form-label-sm text-sm-end"><span class="star-requied">*</span>Tên sản phẩm</label>
            <div class="col-sm">
              <input type="text" name="name" class="form-control form-control-sm custom-input-form" id="name" required>
              <div class="error-message" id="nameError" style="display: none">
                <span class="error-text">Tên sản phẩm không hợp lệ. Vui lòng kiểm tra lại</span>
                <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
<!--          <div class="row custom-label-input-form">-->
<!--            <label for="price" class="col-sm-2 col-form-label col-form-label-sm text-sm-end"><span class="star-requied">*</span>Giá sản phẩm</label>-->
<!--            <div class="col-sm">-->
<!--              <input type="text" name="price" class="form-control form-control-sm custom-input-form" value="0" id="price" required>-->
<!--              <div class="error-message" id="priceError" style="display: none">-->
<!--                <span class="error-text">Giá tiền không hợp lệ. Vui lòng kiểm tra lại</span>-->
<!--                <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">-->
<!--                  <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="row custom-label-input-form">
            <label for="discountValue" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Giảm giá</label>
            <div class="col-sm">
              <input type="text" name="discountValue" class="form-control form-control-sm custom-input-form" id="discountValue">
              <div class="error-message" id="discountValueError" style="display: none">
                <span class="error-text">Giảm giá sản phẩm không hợp lệ. Vui lòng kiểm tra lại</span>
                <button type="button" class="close" aria-label="Close" onclick="hideErrorMessage(this)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row custom-label-input-form">
            <label for="discountType" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Loại giảm giá</label>
            <div class="col-sm">
              <select class="form-control form-control-sm custom-input-form" name="discountType" id="discountType">
                <option th:value="NO">Không giảm</option>
                <option th:value="PERCENTAGE">Giảm theo %</option>
                <option th:value="AMOUNT">Giảm theo giá tiền (VND)</option>
              </select>
            </div>
          </div>
          <div class="row custom-label-input-form">
            <label for="productDescription" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Mô tả sản phẩm</label>
            <div class="col-sm">
              <textarea name="description" th:field="*{description}" rows="8" class="form-control form-control-sm custom-input-form" id="productDescription"></textarea>
            </div>
          </div>
          <div class="row custom-label-input-form">
            <label for="status" class="col-sm-2 col-form-label col-form-label-sm text-sm-end control-label">
              <span data-toggle="tooltip" title="Cho phép sản phẩm xuất hiện phía trang chủ hay không">Duyệt</span>
            </label>
            <div class="col-sm">
              <select class="form-control form-control-sm custom-input-form" name="status" id="status">
                <option th:value="1">Cho phép</option>
                <option th:value="0">Không cho phép</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label for="featured" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Sản phẩm nổi bật</label>
            <div class="col-sm" style="margin-top: 5px;">
              <input class="col-sm form-checkbox-input" type="checkbox" name="featured" id="featured">
            </div>
          </div>
          <div class="row">
            <label for="productNew" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Sản phẩm mới</label>
            <div class="col-sm" style="margin-top: 5px;">
              <input class="col-sm form-checkbox-input" type="checkbox" name="productNew" id="productNew">
            </div>
          </div>
          <div class="row">
            <label for="best_seller" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Sản phẩm bán chạy</label>
            <div class="col-sm" style="margin-top: 5px;">
              <input class="col-sm form-checkbox-input" type="checkbox" name="best_seller" id="best_seller">
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-true" role="tabpanel" aria-labelledby="nav-true-tab">
        <div class="app-card-body" style="padding: 15px;">
          <div class="row custom-label-input-form">
            <label for="manufacturer" class="col-sm-2 col-form-label col-form-label-sm text-sm-end"><span class="star-requied">*</span> Nhà sản xuất</label>
            <div class="col-sm">
              <select class="form-control form-control-sm custom-input-form" name="manufacturer" id="manufacturer" required>
                <tr th:each="manu : ${manufacturers}">
                  <option th:value="${manu.getManufacturer_id()}">
                    <span th:text="${manu.getName()}"></span>
                  </option>
                </tr>
              </select>
            </div>
          </div>
          <div class="row custom-label-input-form">
              <label for="category" class="col-sm-2 col-form-label col-form-label-sm text-sm-end">Loại sảm phẩm</label>
              <div class="col-sm">
                  <div class="dropdown">
                      <button class="btn custom-dropdown-btn dropdown-toggle" type="button" id="category" data-bs-toggle="dropdown" aria-expanded="false">
                          Lựa chọn
                      </button>
                      <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li th:each="cate : ${categories}">
                          <div class="form-check">
                            <input class="form-check-input" name="category" type="checkbox" th:value="${cate.getCategory_id()}">
                            <label class="form-check-label" th:text="${cate.getName()}"></label>
                          </div>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">
        <div class="app-card-body" style="padding: 15px;">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th style="width: 20%">Hành động</th>
              <th>Ảnh</th>
            </tr>
            </thead>
            <tbody id="galleryBody">
            <!-- Các hàng trong bảng sẽ được thêm vào đây -->
            </tbody>
            <tfoot>
              <th>
                <a class="btn btn-sm btn-primary btn-filemanager" id="rowAdder">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg text-white" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                  </span>
                </a>
              </th>
              <th>
              </th>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-for" role="tabpanel" aria-labelledby="nav-for-tab">
        <div class="app-card-body" style="padding: 15px;">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="width: 5%">Hành động</th>
                <th>Ảnh</th>
                <th>Màu</th>
                <th>Giá tền</th>
                <th>Số lượng trong kho</th>
              </tr>
              </thead>
              <tbody id="productOptionsBody">

              </tbody>
              <tfoot>
                <th>
                  <a class="btn btn-sm btn-primary btn-filemanager" id="rowProductOptions">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg text-white" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                        </svg>
                      </span>
                  </a>
                </th>
              <th>
              </th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
</html>